<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h5><%= comment.id %></h5>
        <h3><%= comment.name %></h3>
        <p><%= comment.deskripsi %></p>
    </div>
</body>
</html>