<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- interpolasi syntaks atau menampilkan sebuah value  -->
    <h3><%= 3+3 %></h3>
    <h3><%= 'helloworld'.toUpperCase() %></h3>

    <ul>
        <li><a href="/">interpolasi</a></li>
        <li><a href="/parsingData">parsing Data</a></li>
        <li><a href="/pengkondisian">pengkondisian</a></li>
        <li><a href="/perulangan">perulangan</a></li>
    </ul>
</body>
</html>