<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>random angka : <%= random %></h1>
    <!-- membuat pengkondisian di ejs -->
    <h1>tipe angka : <%= random%2==0 ? 'genap' : 'ganjil' %></h1>
</body>
</html>