<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to todolist website</h1>
    <p>disini kamu dapat membuat list todo dengan gratis!!</p>
    <a href="/viewTodo">listtodo</a>
    <a href="/todo">addtodo</a>
</body>
</html>