<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= datas.name %></h1>
    <b><%= datas.todoWrite %></b>
    <p> <%= datas.timeLog %></p>
   <a href="/viewTodo">back list</a>

</body>
</html>